# Dependencies
node_modules/

# Build outputs
dist/
build/
.tmp.driveupload/

# Environment files
.env

# VSCode settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System
.DS_Store

